main {
  margin: 24px 0 72px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 8px;
}

h1.side-title a {
  font-family: monospace;
  font-weight: bold;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

h2.text-muted.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.video {
  width: 100%;
  padding: 0 0 3em;
}

.video-container {
  width: 100%;
}

.video-container.facebook iframe {
  display: block;
  margin: auto;
}

.video-container.facebook iframe {
  display: block;
  margin: auto;
}

.video-container.youtube,
.video-container.dailymotion {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container.youtube > iframe,
.video-container.dailymotion > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container.twitter > blockquote,
.video-container.twitter > twitter-widget {
  margin: auto;
}

div.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-link {
  display: inline-block;
}

.sample {
  display: inline-block;
  margin: 8px;
}

.color-sample {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: auto;
}

.small-quote  {
  font-size: 100%;
}

.font-monospace {
  font-family: monospace;
}
